@import '../../theme';

.uk-container {
  width: 50vw;
}
.uk-form-label {
  color: $dracula-foreground;
}
.uk-input {
  background-color: $dracula-background;
  color: $dracula-foreground;
  border-color: $dracula-comment;
}
.uk-input:focus {
  border-color: $dracula-pink;
}
.uk-button-primary {
  background-color: $dracula-pink;
  color: $dracula-foreground;
  border-color: $dracula-pink;
}

.uk-form-controls {
  background: $dracula-background;
  color: $dracula-foreground;
  border-color: $dracula-comment;
}

.uk-select {
  background: $dracula-background;
  color: $dracula-foreground;
  border-color: $dracula-comment;
}

.uk-select:focus {
  border-color: $dracula-pink;
}

.uk-select option {
  background: $dracula-background;
  color: $dracula-foreground;
}

.uk-select option:selected {
  background: $dracula-comment;
  color: $dracula-foreground;
}

.uk-input[disabled] {
  background-color: $dracula-current;
  border-color: $dracula-current;
  color: $dracula-comment;
}

.uk-select[disabled] {
  background: $dracula-current;
  border-color: $dracula-current;
  color: $dracula-comment;
}

.uk-form-controls[disabled] {
  background: $dracula-current;
  border-color: $dracula-current;
  color: $dracula-comment;
}

.uk-button-primary[disabled] {
  background: $dracula-current;
  border-color: $dracula-current;
  color: $dracula-comment;
}

.uk-input[readonly] {
  background-color: $dracula-current;
  border-color: $dracula-current;
  color: $dracula-comment;
}

.uk-input[readonly] {
  background-color: $dracula-current;
  border-color: $dracula-current;
  color: $dracula-comment;
}

.uk-input.ng-invalid {
  border: 2px solid red;
}

.uk-alert-primary {
  background-color: $dracula-purple;
  color: $dracula-current;
  a.uk-alert-close {
    color: $dracula-current;
  }
}

.uk-alert-success {
  background-color: $dracula-green;
  color: $dracula-current;
  a.uk-alert-close {
    color: $dracula-current;
  }
}

.uk-alert-warning {
  background-color: $dracula-yellow;
  color: $dracula-current;
  a.uk-alert-close {
    color: $dracula-current;
  }
}

.uk-alert-danger {
  background-color: $dracula-red;
  color: $dracula-current;
  a.uk-alert-close {
    color: $dracula-current;
  }
}
