<nav class="uk-navbar-container" uk-navbar>
    <div class="uk-container">
        <div class="uk-navbar-left">
            <ul class="uk-navbar-nav">
                <li class="uk-active"><a href="">Atividades</a></li>
                <li class="uk-parent"><a href="">Gerencias Atividades</a></li>
                <li>
                    <a href="#">Relatórios</a>
                    <div class="uk-navbar-dropdown">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                            <li class="uk-active"><a href="#">Atividades</a></li>
                            <li><a href="#">Atividades x Versão</a></li>
                            <li><a href="#">MyTime (Ruim)</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>