.uk-form-label{
  color: #f8f8f2;
}
.uk-input{
  background-color: #282a36;
  color: #f8f8f2;
  border-color: #6272a4;
}
.uk-input:focus{
  border-color: #ff79c6;
}
.uk-button-primary{
  background-color: #ff79c6;
  color: #f8f8f2;
  border-color: #ff79c6;
}
.uk-button-primary:hover{
  background-color: #ff5570;
  border-color: #ff5570;
}
