<app-navbar></app-navbar>

<div ngClass="app">
    <div class="title">
        <h1>MyTime</h1>
    </div>
    <div ngClass="new-activity">
        <input type="datetime" name="" id="">
        <select name="" id="">
            <option value=""></option>
        </select>
        <input type="number" name="" id="">
        <input type="number" name="" id="">
        <input type="time" name="" id="">
        <input type="time" name="" id="">
        <input type="time" name="" id="">
        <input type="number" name="" id="">
    </div>
</div>